priv/program_scheduling/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DvrApi" targetNamespace="http://ws.api.dvr.cti.ru" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.api.dvr.cti.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.api.dvr.cti.ru" xmlns:tns="http://ws.api.dvr.cti.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="cancelRecording" type="tns:cancelRecording"/>
      <xs:element name="cancelRecordingResponse" type="tns:cancelRecordingResponse"/>
      <xs:element name="getDvrServerVersion" type="tns:getDvrServerVersion"/>
      <xs:element name="getDvrServerVersionResponse" type="tns:getDvrServerVersionResponse"/>
      <xs:element name="getRecording" type="tns:getRecording"/>
      <xs:element name="getRecordingResponse" type="tns:getRecordingResponse"/>
      <xs:element name="removeRecording" type="tns:removeRecording"/>
      <xs:element name="removeRecordingResponse" type="tns:removeRecordingResponse"/>
      <xs:element name="scheduleRecording" type="tns:scheduleRecording"/>
      <xs:element name="scheduleRecordingResponse" type="tns:scheduleRecordingResponse"/>
      <xs:complexType name="cancelRecording">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xs:string"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="cancelRecordingResponse">
        <xsd:sequence/>
      </xs:complexType>
      <xs:complexType name="getDvrServerVersion">
        <xsd:sequence/>
      </xs:complexType>
      <xs:complexType name="getDvrServerVersionResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xs:string"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="removeRecording">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xs:string"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="removeRecordingResponse">
        <xsd:sequence/>
      </xs:complexType>
      <xs:complexType name="scheduleRecording">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="tns:dvrRecordingTask"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="dvrRecordingTask">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="assetToCapture" type="xs:string"/>
          <xsd:element minOccurs="0" name="contentId" type="xs:string"/>
          <xsd:element minOccurs="0" name="params" type="xs:string"/>
          <xsd:element minOccurs="0" name="pauseLiveTvPlaylistDuration" type="xs:int"/>
          <xsd:element minOccurs="0" name="placement" type="xs:string"/>
          <xsd:element minOccurs="0" name="plannedEndTime" type="xs:dateTime"/>
          <xsd:element minOccurs="0" name="plannedStartTime" type="xs:dateTime"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="scheduleRecordingResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xs:string"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="getRecording">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xs:string"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="getRecordingResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="tns:dvrRecording"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:complexType name="dvrRecording">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="assetToCapture" type="xs:string"/>
          <xsd:element minOccurs="0" name="capturedEndTime" type="xs:dateTime"/>
          <xsd:element minOccurs="0" name="capturedStartTime" type="xs:dateTime"/>
          <xsd:element minOccurs="0" name="contentId" type="xs:string"/>
          <xsd:element minOccurs="0" name="dvrAsset" type="xs:string"/>
          <xsd:element minOccurs="0" name="id" type="xs:long"/>
          <xsd:element minOccurs="0" name="plannedEndTime" type="xs:dateTime"/>
          <xsd:element minOccurs="0" name="plannedStartTime" type="xs:dateTime"/>
          <xsd:element minOccurs="0" name="recordingStatus" type="tns:dvrRecordingStatus"/>
        </xsd:sequence>
      </xs:complexType>
      <xs:simpleType name="dvrRecordingStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NEW"/>
          <xs:enumeration value="PLANNED"/>
          <xs:enumeration value="COMPLETED"/>
          <xs:enumeration value="RUNNING"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="CANCELED"/>
          <xs:enumeration value="REMOVED"/>
        </xs:restriction>
      </xs:simpleType>
      <xsd:element name="DvrServiceException" type="tns:DvrServiceException"/>
      <xs:complexType name="DvrServiceException">
        <xsd:sequence/>
      </xs:complexType>
      <xsd:element name="DvrAssetNotFoundException" type="tns:DvrAssetNotFoundException"/>
      <xs:complexType name="DvrAssetNotFoundException">
        <xsd:sequence/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cancelRecording">
    <wsdl:part element="tns:cancelRecording" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelRecordingResponse">
    <wsdl:part element="tns:cancelRecordingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleRecordingResponse">
    <wsdl:part element="tns:scheduleRecordingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordingResponse">
    <wsdl:part element="tns:getRecordingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleRecording">
    <wsdl:part element="tns:scheduleRecording" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRecordingResponse">
    <wsdl:part element="tns:removeRecordingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDvrServerVersion">
    <wsdl:part element="tns:getDvrServerVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DvrServiceException">
    <wsdl:part element="tns:DvrServiceException" name="DvrServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDvrServerVersionResponse">
    <wsdl:part element="tns:getDvrServerVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRecording">
    <wsdl:part element="tns:removeRecording" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecording">
    <wsdl:part element="tns:getRecording" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DvrAssetNotFoundException">
    <wsdl:part element="tns:DvrAssetNotFoundException" name="DvrAssetNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DvrServiceApi">
    <wsdl:operation name="cancelRecording">
      <wsdl:input message="tns:cancelRecording" name="cancelRecording">
      </wsdl:input>
      <wsdl:output message="tns:cancelRecordingResponse" name="cancelRecordingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DvrServiceException" name="DvrServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDvrServerVersion">
      <wsdl:input message="tns:getDvrServerVersion" name="getDvrServerVersion">
      </wsdl:input>
      <wsdl:output message="tns:getDvrServerVersionResponse" name="getDvrServerVersionResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRecording">
      <wsdl:input message="tns:removeRecording" name="removeRecording">
      </wsdl:input>
      <wsdl:output message="tns:removeRecordingResponse" name="removeRecordingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DvrServiceException" name="DvrServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="scheduleRecording">
      <wsdl:input message="tns:scheduleRecording" name="scheduleRecording">
      </wsdl:input>
      <wsdl:output message="tns:scheduleRecordingResponse" name="scheduleRecordingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DvrServiceException" name="DvrServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecording">
      <wsdl:input message="tns:getRecording" name="getRecording">
      </wsdl:input>
      <wsdl:output message="tns:getRecordingResponse" name="getRecordingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DvrAssetNotFoundException" name="DvrAssetNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DvrApiSoapBinding" type="tns:DvrServiceApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelRecording">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelRecording">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelRecordingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DvrServiceException">
        <soap:fault name="DvrServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDvrServerVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDvrServerVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDvrServerVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRecording">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeRecording">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeRecordingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DvrServiceException">
        <soap:fault name="DvrServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="scheduleRecording">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="scheduleRecording">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="scheduleRecordingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DvrServiceException">
        <soap:fault name="DvrServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecording">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecording">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DvrAssetNotFoundException">
        <soap:fault name="DvrAssetNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DvrApi">
    <wsdl:port binding="tns:DvrApiSoapBinding" name="DvrServiceApiImplPort">
      <soap:address location="http://<REMOVED>:8085/cti-dvr/dvr-service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
